header {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #426bbe;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}
header img {
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}
.header_wrapper{
    color: white;
    width: 80%;
    max-width: 856px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: #426bbe;
    align-items: center;
}
header h2 {
    font-size: 36px;
}
header a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(207, 207, 207);
    margin: 0 25px;
    font-size: 18px;
}

header a:hover {
    transition: 0.2s ease-out;
    color: rgb(255, 255, 255);
}